[submodule "packages/font-awesome"]
	path = packages/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "packages/ionicons"]
	path = packages/ionicons
	url = https://github.com/ionic-team/ionicons
[submodule "packages/typicons"]
	path = packages/typicons
	url = https://github.com/stephenhutchings/typicons.font
[submodule "packages/octicons"]
	path = packages/octicons
	url = https://github.com/primer/octicons
[submodule "packages/feather"]
	path = packages/feather
	url = https://github.com/feathericons/feather
[submodule "packages/bootstrap-icons"]
	path = packages/bootstrap-icons
	url = https://github.com/twbs/icons
[submodule "packages/hero"]
	path = packages/hero
	url = https://github.com/tailwindlabs/heroicons
[submodule "packages/line-awesome"]
	path = packages/line-awesome
	url = https://github.com/icons8/line-awesome
[submodule "packages/remix"]
	path = packages/remix
	url = https://github.com/Remix-Design/RemixIcon
[submodule "packages/vscode"]
	path = packages/vscode
	url = https://github.com/vscode-icons/vscode-icons
[submodule "packages/themify"]
	path = packages/themify
	url = https://github.com/kalimah-apps/Themify-Icons
