[submodule "packages/font-awesome"]
	path = packages/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "packages/ionicons"]
	path = packages/ionicons
	url = https://github.com/ionic-team/ionicons
[submodule "packages/typicons"]
	path = packages/typicons
	url = https://github.com/stephenhutchings/typicons.font
[submodule "packages/octicons"]
	path = packages/octicons
	url = https://github.com/primer/octicons
[submodule "packages/feather"]
	path = packages/feather
	url = https://github.com/feathericons/feather
[submodule "packages/bootstrap-icons"]
	path = packages/bootstrap-icons
	url = https://github.com/twbs/icons
[submodule "packages/hero"]
	path = packages/hero
	url = https://github.com/tailwindlabs/heroicons
[submodule "packages/line-awesome"]
	path = packages/line-awesome
	url = https://github.com/icons8/line-awesome
[submodule "packages/remix"]
	path = packages/remix
	url = https://github.com/Remix-Design/RemixIcon
[submodule "packages/vscode"]
	path = packages/vscode
	url = https://github.com/vscode-icons/vscode-icons
[submodule "packages/themify"]
	path = packages/themify
	url = https://github.com/kalimah-apps/Themify-Icons
[submodule "packages/academicons"]
	path = packages/academicons
	url = https://github.com/jpswalsh/academicons.git
[submodule "packages/boxicons"]
	path = packages/boxicons
	url = https://github.com/atisawd/boxicons.git
[submodule "packages/coreui"]
	path = packages/coreui
	url = https://github.com/coreui/coreui-icons.git
[submodule "packages/devicons"]
	path = packages/devicons
	url = https://github.com/devicons/devicon
[submodule "packages/govicons"]
	path = packages/govicons
	url = https://github.com/540co/govicons.git
[submodule "packages/jamicons"]
	path = packages/jamicons
	url = https://github.com/michaelampr/jam.git
[submodule "packages/linearicons"]
	path = packages/linearicons
	url = https://github.com/cjpatoilo/linearicons.git
[submodule "packages/primeicons"]
	path = packages/primeicons
	url = https://github.com/primefaces/primeicons.git
[submodule "packages/pixelarticons"]
	path = packages/pixelarticons
	url = https://github.com/halfmage/pixelarticons.git
[submodule "packages/simple-icons"]
	path = packages/simple-icons
	url = https://github.com/simple-icons/simple-icons.git
[submodule "packages/weather-icons"]
	path = packages/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
[submodule "packages/maki-icons"]
	path = packages/maki-icons
	url = https://github.com/mapbox/maki.git
[submodule "packages/openwebicons"]
	path = packages/openwebicons
	url = https://github.com/pfefferle/openwebicons.git
[submodule "packages/uiw-icons"]
	path = packages/uiw-icons
	url = https://github.com/uiwjs/icons.git
[submodule "packages/unicons"]
	path = packages/unicons
	url = https://github.com/Iconscout/unicons.git
[submodule "packages/tabler"]
	path = packages/tabler
	url = https://github.com/tabler/tabler-icons.git
[submodule "packages/ant-design"]
	path = packages/ant-design
	url = https://github.com/ant-design/ant-design-icons.git
[submodule "packages/carbon"]
	path = packages/carbon
	url = https://github.com/carbon-design-system/carbon.git
[submodule "packages/fluentui-system"]
	path = packages/fluentui-system
	url = https://github.com/microsoft/fluentui-system-icons.git
[submodule "packages/circum"]
	path = packages/circum
	url = https://github.com/Klarr-Agency/Circum-Icons.git
[submodule "packages/css-gg"]
	path = packages/css-gg
	url = https://github.com/astrit/css.gg.git
[submodule "packages/healthicons"]
	path = packages/healthicons
	url = https://github.com/resolvetosavelives/healthicons.git
[submodule "packages/mingcute"]
	path = packages/mingcute
	url = https://github.com/Richard9394/MingCute.git
[submodule "packages/iconoir"]
	path = packages/iconoir
	url = https://github.com/iconoir-icons/iconoir.git
[submodule "packages/majesticons"]
	path = packages/majesticons
	url = https://github.com/halfmage/majesticons.git
[submodule "packages/bytesize"]
	path = packages/bytesize
	url = https://github.com/danklammer/bytesize-icons.git
[submodule "packages/codicons"]
	path = packages/codicons
	url = https://github.com/microsoft/vscode-codicons.git
[submodule "packages/akar"]
	path = packages/akar
	url = https://github.com/artcoholic/akar-icons.git
[submodule "packages/lucide"]
	path = packages/lucide
	url = https://github.com/lucide-icons/lucide.git
[submodule "packages/coolicons"]
	path = packages/coolicons
	url = https://github.com/krystonschwarze/coolicons.git
[submodule "packages/charm"]
	path = packages/charm
	url = https://github.com/jaynewey/charm-icons.git
[submodule "packages/humble"]
	path = packages/humble
	url = https://github.com/zraly/humbleicons.git
[submodule "packages/system-uicons"]
	path = packages/system-uicons
	url = https://github.com/CoreyGinnivan/system-uicons.git
[submodule "packages/radix-ui"]
	path = packages/radix-ui
	url = https://github.com/radix-ui/icons.git
[submodule "packages/gitlab"]
	path = packages/gitlab
	url = https://gitlab.com/gitlab-org/gitlab-svgs.git
[submodule "packages/quill"]
	path = packages/quill
	url = https://github.com/yourtempo/tempo-quill-icons.git
[submodule "packages/mono"]
	path = packages/mono
	url = https://github.com/mono-company/mono-icons.git
[submodule "packages/fontaudio"]
	path = packages/fontaudio
	url = https://github.com/fefanto/fontaudio.git
[submodule "packages/material-design"]
	path = packages/material-design
	url = https://github.com/marella/material-design-icons.git
[submodule "packages/phosphor"]
	path = packages/phosphor
	url = https://github.com/phosphor-icons/core.git
